<h2>Hosted Events (<%= @user.created_events.count %>)</h2>

<% @events.each do |event| %>
  <div class="event-container">
    <h3><%= event.name %></h3>
    <p><%= event.location %></p>
    <p><%= event.start_time %></p>
    <p><%= event.end_time %></p>
  </div>
<% end %>

<h2>Attending Events (<%= @user.attended_events.count %>)</h2>
<ul>
  <% @user.attended_events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>