<div class="content-container">
  <div class="profile-header">
    <div class="user">
      <%= image_tag('anon-profile.png', class: "pfp large") %>
      <h1><%= @user.name %></h1>
    </div>
    <div class="user-controls">
      <% if current_user == @user %>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag('settings.svg', class: "settings") %>
        <% end%>
      <% end %>
    </div>
  </div>
</div>

<div class="content-container">
  <h2>Hosted Events (<%= @user.created_events.count %>)</h2>
  <div class="events-container">
    <% @events.each do |event| %>
      <%= render 'shared/event_card', :event => event %>
    <% end %>
  </div>
</div>

<div class="content-container">
  <h2>Attending Events (<%= @user.attended_events.count %>)</h2>
  <h3>Upcoming</h3>
  <div class="events-container">
    <% if @user.attended_events.upcoming.any? %>
      <% @user.attended_events.upcoming.each do |event| %>
        <%= render 'shared/event_card', :event => event %>
      <% end %>
    <% else %>
      <p>No upcoming events.</p>
    <% end %>
  </div>
  <h3>Past</h3>
  <div class="events-container">
    <% if @user.attended_events.past.any? %>
      <% @user.attended_events.past.each do |event| %>
        <%= render 'shared/event_card', :event => event %>
      <% end %>
    <% else %>
      <p>No past events.</p>
    <% end %>
  </div>
</div>