<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <div class="nav-items">
        <li><%= link_to "Create event", new_event_path, class: "button" %></li>
      </div>
      <div class="nav-items nav-brand">
        <li><%= link_to "Home", root_path %></li>
      </div>
      <div class="nav-items">
        <% if user_signed_in? %>
          <li><%= link_to "My Account", user_path(current_user) %></li>
          <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "link" %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="main-content-wrapper">
      <div class="main-content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
